{extend name="common/world"}
{block name="title"}Order details#{$Think.get.id}{/block}
{block name="style"}
<link rel="stylesheet" href="/static/css/transaction.css" />
{/block}
{block name="container"}
<div class="card card-message">
    <div class="card-header">
        <div class="card-title f1">
            <div class="d-flex align-items-center">
                <!-- <span class="avatar owner-avatar" style="background-image: ;"></span> -->
                <!-- <span class="owner-nickname">-</span> -->
                <span class="tag">#{$Think.get.id}<span class="tag-addon tag-blue tag-status">-</span></span>
            </div>
        </div>
        <div class="card-options pr-2">
            <a href="#"><i class="fe fe-help-circle" style="vertical-align: baseline;"></i></a>
            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize" style="vertical-align: baseline;"></i></a>
        </div>
    </div>
    <div class="card-body p-3 o-auto">
        <div class="dimmer">
            <div class="loader"></div>
            <div class="dimmer-content chat-content"></div>
        </div>
    </div>
    <div class="card-footer chat-option">
        <div hidden class="text-muted small tips">Friendly tips: after receiving the order, both parties will exchange contact information！</div>
        <a hidden class="btn btn-secondary btn-call">Contact each other</a>
        <button hidden class="btn btn-secondary btn-receive" data-option="1">Application receipt</button>
        <button hidden class="btn btn-secondary btn-payment" data-option="2">I have paid</button>
        <button hidden class="btn btn-secondary btn-urge" data-option="3">Outstanding payment</button>
        <button hidden class="btn btn-secondary btn-proof" data-option="5" data-type="image">Send pictures<input type="file" accept="image/*" /></button>
        <button hidden class="btn btn-secondary btn-quit" data-option="6">Exit transaction</button>
        <button hidden class="btn btn-secondary btn-confirm" data-option="8" data-type="modal">Confirm receipt</button>
        <button hidden class="btn btn-secondary btn-report" data-option="4">Complaints Report</button>
        <span hidden class="float-right mt-2 count-down small"><i class="fe fe-clock" style="vertical-align:-1px"></i> <span class="count-down-time"></span>后可<span class="count-down-label">Exit transaction</span></span>
        <button hidden class="btn btn-secondary btn-cancel" data-option="0">cancellation of order</button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document" style="margin-top: -10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Security verification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="password" name="safeword" class="form-control" placeholder="Please enter your security password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary btn-confirmation">Confirm submission</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
var id = '{$Think.get.id}';
</script>
<script type="text/javascript" src="/static/js/transaction.js?2"></script>
{/block}