{extend name="common/world"}
{block name="title"}My information{/block}
{block name="style"}
<style>
.list-payment {
    margin-right: .5rem;
}
.list-payment a {
    width: auto !important;
    background: transparent !important;
    line-height: 1.5rem !important;
}
.list-inline-item {
    margin-bottom: .5rem;
}
</style>
{/block}
{block name="container"}
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <span class="avatar avatar-xxl mr-5" style="background-image: url({:avatar($user.profile.avatar, $user.profile.idcard)});"></span>
                    <div class="media-body">
                        <h4 class="m-0 me-nickname">{$user.profile.nickname}</h4>
                        <p class="text-muted mb-0">{$Think.config.hello.level[$user.account.type]['name']}</p>
                        <ul class="social-links list-inline mb-0 mt-2">
                            <li class="list-inline-item list-payment">
                                {notempty name="user.profile.alipay"}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="{$user.profile.alipay}"><i class="payment payment-alipay text-blue"></i></a>
                                {else /}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="No Alipay account"><i class="payment payment-alipay"></i></a>
                                {/notempty}
                            </li>
                            <li class="list-inline-item list-payment">
                                {notempty name="user.profile.bankname"}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="{$user.profile.bankname}"><i class="payment payment-unionpay text-blue"></i></a>
                                {else /}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Bank card No. is not filled in"><i class="payment payment-unionpay"></i></a>
                                {/notempty}
                            </li>
                            <li class="list-inline-item">
                                {notempty name="user.profile.wechat"}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="{$user.profile.wechat}"><i class="fa fa-weixin text-blue"></i></a>
                                {else /}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Wechat account is not filled in"><i class="fa fa-weixin"></i></a>
                                {/notempty}
                            </li>
                            <li class="list-inline-item">
                                {notempty name="user.profile.qq"}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="{$user.profile.qq}"><i class="fa fa-key text-blue"></i></a>
                                {else /}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title=""><i class="fa fa-key"></i></a>
                                {/notempty}
                                <!-- {if empty($Think.config.hello.oauth.qq.enable)}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="未绑定QQ"><i class="fa fa-qq"></i></a>
                                {elseif !empty($Think.config.hello.oauth.qq.enable) && empty($qqprofile) /}
                                    <a href="/oauth/qq/login.html" title="" data-toggle="tooltip" data-original-title="未绑定QQ"><i class="fa fa-qq"></i></a>
                                {elseif !empty($Think.config.hello.oauth.qq.enable) && !empty($qqprofile) /}
                                    <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="已绑定QQ"><i class="fa fa-qq text-blue"></i></a>
                                {/if} -->
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="{$user.account.username}"><i class="fa fa-phone text-blue"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {notempty name="user.account.inviter"}
                <div class="alert alert-info">Your reference is：{$user.account.inviter}</div>
                {/notempty}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card profile">
            <div class="card-body">
                <div class="dimmer">
                    <div class="loader"></div>
                    <div class="dimmer-content">
                        <h3 class="card-title">Edit data</h3>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">phone number</label>
                                    <input type="text" class="form-control" disabled="true" name="username" placeholder="phone number" value="{$user.account.username}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Personality nickname</label>
                                    <input type="text" class="form-control" name="nickname" maxlength="10" placeholder="Personality nickname" value="{$user.profile.nickname}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Wechat account</label>
                                    <input type="text" class="form-control" name="wechat" maxlength="32" placeholder="Wechat account" value="{$user.profile.wechat}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Wallet address</label>
                                    <input type="tel" class="form-control" name="qq" maxlength="50" placeholder="Wallet address" value="{$user.profile.qq}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Alipay</label>
                                    <input type="text" class="form-control" name="alipay" maxlength="32" placeholder="Alipay" value="{$user.profile.alipay}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Bank name</label>
                                    <input type="text" class="form-control" name="bankname" maxlength="10" placeholder="Bank name" value="{$user.profile.bankname}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Bank card No</label>
                                    <input type="text" class="form-control" name="bankcard" maxlength="30" placeholder="Bank card No" value="{$user.profile.bankcard}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Bank address</label>
                                    <input type="text" class="form-control" name="bankaddress" maxlength="30" placeholder="Bank address" value="{$user.profile.bankaddress}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Real name</label>
                                    <input type="text" class="form-control" disabled="true" name="realname" placeholder="Real name" value="{$user.profile.realname}" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">ID card No.</label>
                                    <input type="text" class="form-control" disabled="true" name="idcard" placeholder="ID card No." value="{$user.profile.idcard}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Update information</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/static/js/profile.js?2"></script>
{/block}